In [1]:
# Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

Answer:

(i) a="abc"
(ii) l=[1,2,"abc",12.34]
(iii) k=12.34
(iv) t=(1,2,3,78.90,"kbc")

In [ ]:
# Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.

answer:

(1) string
(2) string
(3) list
(4) float

In [ ]:
# Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **


Answer:

(1) x=4 ; y=2
    print(x/y)      output: 2.0

(2) print(x%y)       output: 0

(3) print(x//y)      output: 2

(4) print(x**y)      output: 16

In [2]:
'''Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.'''

l=[1,2,4.5,3,"a",8,"abc",[1,2,3],(3,4,5),34]
for i in l:
    print(i, " its data type is=",type(i))

1  its data type is= <class 'int'>
2  its data type is= <class 'int'>
4.5  its data type is= <class 'float'>
3  its data type is= <class 'int'>
a  its data type is= <class 'str'>
8  its data type is= <class 'int'>
abc  its data type is= <class 'str'>
[1, 2, 3]  its data type is= <class 'list'>
(3, 4, 5)  its data type is= <class 'tuple'>
34  its data type is= <class 'int'>

In [5]:
'''Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.'''

A=int(input("Pls enter the value of variable A:"))
B=int(input("Pls enter the value of variable B:"))
count=0
while(A>0):
    if(A%B==0):
        count=count+1
    A=A//B
if(count>0):
    print("Number A is purely divisible by Number B and it can be divisible by:",count," Times")
else:
     print("Number A is not purely divisible by Number B and it can be divisible by:",count," Times")

Pls enter the value of variable A: 9
Pls enter the value of variable B: 3

Number A is purely divisible by Number B and it can be divisible by: 2  Times

In [ ]:
'''Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.'''

l=[]
for i in range(1,26,1):
    l.append(i)
for i in l:
    if(l[i]%3==0):
        print(l[i])

3
6
9
12
15
18
21
24

IndexError: list index out of range

In [11]:
'''Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.'''

'''
mutable means modifying is possible in the data. and immutable means modifying is not possible in data.
for example '''
a="abcd"
a[2]=k
print(a)


# example for mutable
a=[2,3,4,5]
a[2]=10
print(a)

TypeError: 'str' object does not support item assignment